/* /General/ */
a{
  text-decoration: none;
}
/* /navbar/ */
.themeColor{
  background-color: #7AF0FF;
  border-bottom: 2px solid black;
}

.spreadBox{
  display: flex;
  justify-content: space-between;
  max-width: 1350px;
  margin: auto;
  padding-top: 10px;
  color: #FBFBFB;
}
.navBox{
  padding-top: 2%;
  font-size: x-large;
  color: #FBFBFB;
}
.navBox a p{ 
  margin-top: 35px;
  font-size: large;
  color: #FBFBFB;

}
#logo{
  width: 100px;
}
#siteTitle{
  margin: 5px 0px;
  font-weight: bold;
  justify-content: center;
}


